<h1>Checkbox List For Courses with List</h1>


<div class="container">
  <div class="text-center mt-5">
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1" (change)="checkUncheckAll()"/>  <strong>Select All / Unselect All</strong>
                </li>
              </ul>
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let item of courseList">
                  <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.CourseName}}" (change)="isAllSelected()"/>
                  {{item.CourseName}}
                </li>
              </ul>
        </div>
        <div class="col-md-6">
            <code>{{checkCourseList}}</code>
        </div>
    </div>
  </div>
</div>
