<h3 class="text-center"><u>Assignnment 01/02 March</u></h3>
<h1 class="text-center">Employee Data</h1>

{{employees|json}}
<div class="container">
  <!-- <table class="table table-bordered shadow">
      <thead>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Employee Salary</th>
          <th>Employee Type</th>
      </thead>
      <tbody>
          <tr *ngFor="let e of employees">
            <td>{{e.EmployeeId}}</td>
            <td>{{e.EmployeeName}}</td>
            <td>{{e.EmployeeSalary}}</td>
            <td>{{e.EmployeeType}}</td>
          </tr>
      </tbody>
  </table> -->
  <h3></h3>>
  <table class="table table-bordered shadow" >
    <thead>
      <tr>
        <th *ngFor="let col of columnHeaders">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees " [setColor]="'green'">
        <td *ngFor="let col of columnHeaders" >{{e[col]}}</td>
      </tr>
      <app-table-ui [DataSource]="employeeId" (onValueSelected)="onReceived($event)"></app-table-ui>
    </tbody>
  </table>

  <div class="container">
    EmployeeNo: <input type="text" [checkUnique]="empNo" [(ngModel)]="empNo" />
  </div>
</div>
