
<h1 class="text-center">Employee Information System</h1>


<div class="container">

  <h3></h3>>
  <table class="table table-bordered shadow" >
    <thead>
      <tr>
        <th *ngFor="let col of columnHeaders">{{col}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of employees " [setColor]="'pink'">
        <td *ngFor="let col of columnHeaders" >{{e[col]}}</td>
      </tr>
      <app-table-ui [DataSource]="employeeId" (onValueSelected)="onReceived($event)"></app-table-ui>
    </tbody>
  </table>

</div>
