<h4 class="text-center">Add Product</h4>
<div class="container">
  <form (ngSubmit)="onSubmit()">
  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>
          <div class="form-group">
            <label for="">Product Row Id</label>
            <input type="text" class="form-control" [(ngModel)]="prod.productRowId" [ngModelOptions]="{standalone: true}"/>
          </div>
        </td>
        <!-- Product Id -->
        <td>
          <div class="form-group">
            <label for="">Product Id</label>
            <input type="text" class="form-control" [(ngModel)]="prod.productId" [ngModelOptions]="{standalone: true}" />
          </div>
        </td>
        <!-- Product Name -->
        <td>
          <div class="form-group">
            <label for="">Product Name</label>
            <input type="text" class="form-control" [(ngModel)]="prod.productName" [ngModelOptions]="{standalone: true}"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label>Category Name</label>
            <app-select-ui [DataSource]="categories" (onValueSelected)="onCatNameReceived($event)" ></app-select-ui>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label>Manufacturer Name</label>
            <app-select-ui [DataSource]="manufacturers" (onValueSelected)="onManufacturerReceived($event)">
            </app-select-ui>
          </div>
        </td>
        <td>
          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" [(ngModel)]="prod.description" [ngModelOptions]="{standalone: true}"/>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group">
            <label>Base Price</label>
            <input type="text" class="form-control" [(ngModel)]="prod.basePrice"[ngModelOptions]="{standalone: true}" />
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">
          <div class="btn-group-lg">
            <input type="button" value="New" class="btn btn-primary" />
            <input type="button" value="Save" class="btn btn-success" (click)="postData()" />
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</form>

</div>
